.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px 32px;
}

/* MOBILE */
@media (max-width: 768px) {
  .content {
    padding: 16px;
  }
}
